 body{
     font-size: 20px;
 }
 
 .btn{
     margin: 20px;
    background-color: black;
    color: whitesmoke;
 }
 .btn:hover{
     background-color: rgb(46, 46, 138);
     color: whitesmoke;
 }
 .jumbotron{
     background-image: url(./image/image.png );
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     opacity: 0.95;
     color: whitesmoke;
 }
 .lead{
     font-size: 30px;
     color: black;
 }