 body{
     font-size: 20px;
 }
 
 .btn{
     margin: 20px;
    background-color: black;
    color: whitesmoke;
 }
 .btn:hover{
     background-color: rgb(46, 46, 138);
     color: whitesmoke;
 }
 .jumbotron{
     background-image: url(./image/image.png );
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     opacity: 0.80;
     color: whitesmoke;
 }
 .lead{
     font-size: 30px;
     color: black;
 }
 .tboder{
     width: 600px;
     border-top: 5px solid rgb(238, 233, 233);
     padding: 58px;
     margin-left: 100px;
     opacity: 0.40;
     color: rgb(39, 39, 38);
     }